.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100vw;
        background-position: center;
    }
}

.textos {
    color: #3E3970;
    text-align: right;
    height: 50vh;
    margin-right: 15rem;
    font-family: 'Zen Maru Gothic';
    
    .boasFestas {
        font-size: 35px;
        font-weight: 100;
    }

    .felicidades {
        font-size: 60px;
        font-weight: 700;
    }

    .mensagem2025 {
        font-size: 25px;
        font-weight: 100;
        padding-top: 15px;
        margin: 7px 0 0 200px;
        width: 74.4%;
        height: 25vh;
    }
}