.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100vw;
        background-position: center;
    }
}

.textos {
    border: solid 1px red;
    color: #3E3970;
    text-align: right;
    height: 50vh;
    
    .boasFestas {
        font-size: 5em;
    }
}