.footerSection {
    display: flex;
    height: 8.6vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10.5%;

    a {
        margin-left: 2%;
        margin-right: 2%;
    }
}